In [ ]:
import os
import sys
import json
import ntpath
import platform
import posixpath
import ftplib
import re

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('sample.csv'   , encoding='cp932', header=0, parse_dates=True, index_col='column', dtype=object,  sheet_name='sheet_name')
df = pd.read_excel('sample.xlsx', encoding='cp932', header=0, parse_dates=True, index_col='column', dtype=object,  sheet_name='sheet_name')

df.to_csv("file.xlsx",   header = True, index=False, encoding="cp932")
df.to_excel("file.xlsx", header = True, index=False, encoding="cp932")

In [ ]:
path = glob.glob(file_path + "*.csv")
df_list = [pd.read_csv(r"C:\Users\00220401626\Desktop\General.csv", encoding = "cp932", index = False) for file in path]
df = pd.concat(df_list, axis = 0, ignore_index = True)

In [ ]:
csv_files = glob.glob(os.path.join(local_csv,'*.csv'))
dfs = []
for csv_file in csv_files:
    df = pd.read_csv(fr"{csv_file}", encoding = 'cp932', dtype = object)
    dfs.append(df)
combined_df = pd.concat(dfs, ignore_index=True)

In [ ]:
files = glob.glob(folder_name +"*.csv")              
dfs = []
for file in files:
    i = pd.read_csv(file, encoding="cp932", index = False)
    dfs.append(i)
df = pd.concat(dfs, axis=0, ignore_index = True)

In [ ]:
td=pd.DataFrame()
for root, dirs, files in os.walk(r"C:\Users\00220401626\Desktop\General.csv"):
    for i in files:
        if i.endswith(".csv"):
        full = os.path.join(root, i)
        d=pd.read_csv(full,encoding="cp932")
        td=pd.concat([td,d], axis=0, ignore_index=True)

In [ ]:
df.T
df.head()
df.tail()
df.info()
df.describe()
df.shape
df.count()
df.dtypes
df.index

In [ ]:
df['column'].min()
df['column'].max()
df['column'].mean()
df['column'].median()
df['column'].sum()
df['column'].count()                                                                          # Count of non-null values
df['column'].diff()                                                                           # Calculate the difference between previous and next 
df['column'].unique()
df['column'].nunique()                                                                        # number of unique values
df['column'].isna().sum()
df['column'].isnull().sum()
df['column'].notna().sum()
df['column'].notnull().sum()
df['column'].isin(['value1', 'value2'])
df['column'].duplicated().sum()
df['column'].tolist()
a = df['column'].value_counts()['value1']
a = (df['column'] == 'ABS').values.sum()
a = df['column'].str.isspace()
top_values = df['column'].nlargest(10)                                                        # top 10 values from the 'column'
bottom_values = df['column'].nsmallest(10)                                                    # the bottom 10 values from the 'column'
cumulative_sum_A = df['A'].cumsum()                                                           # Calculating the cumulative sum for column 'A'
shifted_values = df['column'].shift(2)                                                        # Shift values in the 'column' by 1 period

In [ ]:
df.set_index('Time', inplace=True) 
df1= df.resample('D').nunique()                                                               # calculate the number of unique values for each day

In [6]:
import platform

arch_info = platform.architecture()
print(f"Architecture information: {arch_info}")

version = platform.version()
print(f"Operating system version: {version}")

machine_type = platform.machine()
print(f"Machine type: {machine_type}")

platform_info = platform.platform()
print(f"Platform information: {platform_info}")

system = platform.system()
print(f"The underlying system is: {system}")

Architecture information: ('64bit', 'WindowsPE')
Operating system version: 10.0.19045
Machine type: AMD64
Platform information: Windows-10-10.0.19045-SP0
The underlying system is: Windows

In [ ]:
df.drop(['A', 'B', 'C'], axis = 1, inplace = True)
df.dropna(subset=['A'], inplace=True)
df.drop_duplicates(subset=['A', 'B'], inplace = True)
df.replace("Null",np.nan)
df.fillna(0, inplace=True)
df["A"].fillna(0, inplace = True)
df['B'].fillna(df['B'].mean(), inplace=True)

In [ ]:
df[0:3]
df[:3]
df[9:14]
df[100:105]
df['2020-08-15':'2020-09-14']

df[df["column"] == 'a']
df[df['column'] == 2015]
df[df['column'].isin([2010])]
df[df['column'].isin(['A','B'])]
df[df['column'].str.contains('a')]
df[df['column'].str.startswith('b')]
df[df['column'].str.endswith('c')]

df['column'] = df['column'].str[-15:-4]                                              # belgilangan strni kesib oladi
df['column'] = df['column'].str.strip()                                              # Remove each whitespace from column

df[df['Column'] == 'Value'][['Column1', 'Column2']]

df['column'].isin(['a']).sum()
df[df['column1'] <= df['column2'].max()]
df[(df['column_1'] == 2015) & (df['column_2'] == 'A')]
df[(df['column_1'] == 2010) | (df['column_2'] == 2015)]
df[(df["column_1"] == 'a')  | (df["column_2"] == '10') | (df["column_3"] == '15')]

df = df.loc[::step]
df = df.loc[:,['column_1','column_2']]
df = df.loc[(df['column_1'] >= a) & (df['column_2'] <= b)] 
df = df.loc[df['column_1'] > 20, ['column_2', 'column_3']]
df.iloc[row_indices, column_indices]
df = df.iloc[[1, 3], [0, 2]]
df.iloc[:, 2] = 'new_column'                                                          # Rename column

df["column"] = df["column"].astype(str)
df["column"] = df["column"].astype(int)
df["column"] = df["column"].astype(float)
df['column'] = df['column'].apply(lambda x: x*2)

df['City'] = df['City'].replace('Paris', 'Margilon')
df = df['ColumnToSplit'].str.split(" ", expand=True)                                 # bitta column ni ikkiga bo'ladi
df["C"] = df["A"] + "-" + df["B"]                                                    # ikkita column ni bittaga jamlash
df["C"] = df["A"].astype(str) + "-" + df["B"].astype(str)
df['A'] = df['A'].str.strip()                                                        # remove whitespaces

df = df.rename(columns={'a': 'A'})
df.rename(columns={'column_1': '1', 'column_2': '2','column_3':'3'}, inplace=True)   # rename columns
df.insert(loc=0, column="column_name", value = str(100))                             # Convert the value to a string and insert it as the first column 

df['A'] = df["A"].str.lstrip()
df['A'] = df['A'].astype(float) / 1000
df['A'] = df["A"].str.split('_').str[0] 
df['A'] = df["A"].str.split('_').str[1] 

df['Time'] = pd.to_datetime(df['Time'], format='%Y-%m:%d %H:%M:%S')                              
df['A'] = df['A'].dt.strftime('%Y-%m-%d %H:%M:%S')                                                        # Change datetime to string
df['A'] = pd.to_datetime(df['A'],unit='ms').dt.strftime('%H:%M:%S:%f').str[:-3]
df['A'] = df['A'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))                              # Change string to datetime
df["A"] = pd.to_datetime(df["A"]) + pd.to_timedelta(df["A"]/1000, "S")
a = timedelta(days = 5, hours = 2, minutes = 30)                                                          # Creating Timedelta
a = datetime.datetime(year=2017, month=10, day=10, hour=15)                                               # Cteating datetime

In [53]:
df.sort_values(by='column', ascending=False, inplace=True)                                                # Sort by a single column in descending order
df.sort_values(by='column', ascending=False, na_position='first', inplace=True)                           # Sort the DataFrame by the values of a specific column in descending order
df.sort_values(by=['column_1', 'column_2'], ascending=False, inplace=True)                                # Sort by multiple columns in descending order
df.sort_values(by=['column_1', 'column_2', 'column_3'], ascending=[False, True, False], inplace=True)     # Sort by multiple columns with different sorting orders
df.sort_values(by=['column']).reset_index(drop=True)                                                      # Sort the DataFrame by 'column' and reset the index
df.sort_index(ascending=False, inplace=True, na_position='first')                                         # Sort the DataFrame by the index in descending order with na_position specified
df.reset_index(inplace=True)                                                                              #  Reset the index of the DataFrame
df.loc[df['column'] == 100].reset_index(drop=True)                                                        #  Filter rows where 'column' equals a specific value and reset the index
df.reindex(columns=['column_1', 'column_2','column_3'], inplace=True)
df.set_index('column')

In [ ]:
df.filter(items=['value_1' , 'value_2'], axis=0))                                                        
df.filter(items=['column_1' , 'column_2'], axis=1))                                                      
df.filter(items=['column_1', 'column_2']).filter(items=['value_1', 'value_2'], axis=0))

In [ ]:
df.groupby['A'].min()
df.groupby['A'].max()
df.groupby('A').mean()
df.groupby('A').max()
df.groupby['A'].median()

df['A'] = df.groupby(['B']).cumcount()+1                                      #Sequence number of each element starting from 1
df['A'] = df.groupby(['B','C']).cumcount()                                    #Sequence number of each element starting from 0
df[['A','B']].groupby(['C','A']).mean()
df[['A','B']].groupby('C').agg(['mean','sum','count','max','min','std','var'])

In [ ]:
df.resample('H').max()
df.resample('10D').sum()
df.resample("D").mean()
df.resample('D').nunique()
df.resample('D').count()
df.resample("M").sum()
df.resample("Q").agg(["sum", "mean", "max", "min"])
df.resample('W').agg(['min', 'max', 'sum'])

In [ ]:
df.pivot(index='...', columns='...', values='...')
pd.pivot_table(df, values='...', index='...', columns='...', aggfunc='...')

In [ ]:
pd.concat([df1, df2], axis=0, join='outer', ignore_index=True)
pd.merge(left_df, right_df, on=...., how=...., left_on=....., right_on=....., left_index=......, right_index=.....)
df = df1.join(df2, on='price', how='inner')

In [ ]:
df.query('year == 2010')
df.query('year > 2010')
df.query('column == A')
df.query('column_1 == 2010 or column_2 == 2015')
df.query('column == "A" and column == 2015')

df = pd.RangeIndex(start=1, stop=len(d.index) + 1, step=1)

In [122]:
formatted_df = df.applymap('{:,.0f}'.format)                # Apply the formatting using applymap, har 3 ta qatorni vergul bilan ajratadi
formatted_df = formatted_df.replace(',', ' ', regex=True)   # Replace commas with spaces

Original DataFrame:
           A           B
0  123456789  3456789012
1  987654321  8765432109

Formatted DataFrame:
             A              B
0  123,456,789  3,456,789,012
1  987,654,321  8,765,432,109

Formatted DataFrame with Commas Replaced by Spaces:
             A              B
0  123 456 789  3 456 789 012
1  987 654 321  8 765 432 109

In [43]:
import pandas as pd
import numpy as np

data = {'numeric_column': [20, 25, 75, 110, 160, 40, 90, 130]}
df = pd.DataFrame(data)

bins = [0, 50, 100, 150, np.inf]
labels = ['0-50', '51-100', '101-150', '150+']

df['binned_column'] = pd.cut(df['numeric_column'], bins=bins, labels=labels)
df

   numeric_column binned_column
0              20          0-50
1              25          0-50
2              75        51-100
3             110       101-150
4             160          150+
5              40          0-50
6              90        51-100
7             130       101-150

In [ ]:
selected_csv_files = [file for file in csv_files if int(file[-12:-4]) >= int(inserted_day)]

In [ ]:
df = pd.read_csv(r"C:\Users\20231001.csv", encoding='cp932', dtype=object, parse_dates=True)

In [ ]:
# Hamma CSV Filelarni bitta dataframega joylash
path =  r"C:\Users\00220401626\Desktop\FMS\CsvData\2023"
csv_files = glob.glob(os.path.join(path, '*.csv'))
data_frames = []
for csv_file in csv_files:
    df = pd.read_csv(csv_file, encoding='cp932',dtype= object)
    data_frames.append(df)
concatenated_df = pd.concat(data_frames, ignore_index=True)
concatenated_df['Timestamp'] = pd.to_datetime(concatenated_df['Timestamp'])

In [ ]:
df_concat = []
for location in a:
    latest_location = df[df['Location'] == location].nlargest(1, 'Timestamp')
    df_concat.append(latest_location)
latest_data = pd.concat(df_concat, ignore_index=True)

In [ ]:
directory =  r"C:\Users\00220401626\Desktop\FMS\CsvData"
file_pattern = '20*'  
files = glob.glob(os.path.join(directory, file_pattern))
files.sort()
folder_path = files[-1]
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))
latest_csv_file = max(csv_files, key=os.path.getmtime)
df2 = pd.read_csv(latest_csv_file, encoding='cp932',dtype= object)
df2['Timestamp'] = pd.to_datetime(df2['Timestamp'])

In [ ]:
current_directory = os.getcwd()
json_filename = 'insertion_time.json'
json_file_path = os.path.join(current_directory, json_filename)

In [54]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

names = df['Name']
ages = df['Age']
cities = df['City']

for name, age, city in zip(names, ages, cities):
    print(f"Name: {name}, Age: {age}, City: {city}")

Name: Alice, Age: 25, City: New York
Name: Bob, Age: 30, City: San Francisco
Name: Charlie, Age: 35, City: Los Angeles

In [ ]:
# IMPORT CSV FROM LOCAL 
df = pd.read_csv(r"C:\Users\00220401626\Desktop\FMS\CsvData\2023\20231001.csv", encoding='cp932',dtype= object)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.columns

In [19]:
import pandas as pd
data = {'datetime_column': ['2023-01-15 08:30:00', '2023-02-20 15:45:30', '2023-03-25 18:20:45']}
df = pd.DataFrame(data)
df['datetime_column'] = pd.to_datetime(df['datetime_column'])

df['date'] = df['datetime_column'].dt.date
df['time'] = df['datetime_column'].dt.time
df['year'] = df['datetime_column'].dt.year
df['month'] = df['datetime_column'].dt.month
df['day'] = df['datetime_column'].dt.day
df['hour'] = df['datetime_column'].dt.hour
df['minute'] = df['datetime_column'].dt.minute
df['second'] = df['datetime_column'].dt.second
df['weekday_name'] = df['datetime_column'].dt.day_name()
df

,datetime_column,date,time,year,month,day,hour,minute,second,weekday_name
0,2023-01-15 08:30:00,2023-01-15,08:30:00,2023,1,15,8,30,0,Sunday
1,2023-02-20 15:45:30,2023-02-20,15:45:30,2023,2,20,15,45,30,Monday
2,2023-03-25 18:20:45,2023-03-25,18:20:45,2023,3,25,18,20,45,Saturday

In [ ]:
df['A'] = df['Words'].str[-3:]

In [20]:
import pandas as pd
text = "aaa bbb  ccc d 111 222 333 wer sdf x cc hghgh jfjfj kfkfk"
words = text.split()
words

['aaa',
 'bbb',
 'ccc',
 'd',
 '111',
 '222',
 '333',
 'wer',
 'sdf',
 'x',
 'cc',
 'hghgh',
 'jfjfj',
 'kfkfk']

In [55]:
data = {'Column': ['John Doe', 'Jane Smith', 'Bob Johnson']}
df = pd.DataFrame(data)
split = df['Column'].str.split(" ", expand=True)

df = pd.concat([df, split], axis=1)
split
# df

      0        1
0  John      Doe
1  Jane    Smith
2   Bob  Johnson

In [25]:
import pandas as pd

# Create a sample DataFrame
data = {'column': ['abc123', 'apple,orange,banana', '123', '42 is the answer', 'word123', 'apple']}
df = pd.DataFrame(data)

# Apply the operations
df['extracted_numbers'] = df['column'].str.extract(r'(\d+)')
df['split_columns'] = df['column'].str.split(',')
df['joined_columns'] = df['column'].str.join(',')
df['is_digit'] = df['column'].str.isdigit()
df['is_alpha'] = df['column'].str.isalpha()
df['replaced_values'] = df['column'].replace({'apple': 'fruit', '123': 'number'})
result = df['column'].str.cat(sep='/')
print(result)
df

abc123/apple,orange,banana/123/42 is the answer/word123/apple

,column,extracted_numbers,split_columns,joined_columns,is_digit,is_alpha,replaced_values
0,abc123,123,[abc123],"a,b,c,1,2,3",False,False,abc123
1,"apple,orange,banana",NaN,"[apple, orange, banana]","a,p,p,l,e,,,o,r,a,n,g,e,,,b,a,n,a,n,a",False,False,"apple,orange,banana"
2,123,123,[123],"1,2,3",True,False,number
3,42 is the answer,42,[42 is the answer],"4,2, ,i,s, ,t,h,e, ,a,n,s,w,e,r",False,False,42 is the answer
4,word123,123,[word123],"w,o,r,d,1,2,3",False,False,word123
5,apple,NaN,[apple],"a,p,p,l,e",False,True,fruit

In [26]:
import pandas as pd

data = {'text': ['Phone number is 123-456-7890 Apartment AAAA1111222','I live at 456 Main Street, Apartment 3B']}

df = pd.DataFrame(data)
df['phone_number'] = df['text'].str.extract(r'(\d{3}-\d{3}-\d{4})')
df['apartment_number'] = df['text'].str.extract(r'Apartment (\w+)')
df

,text,phone_number,apartment_number
0,Phone number is 123-456-7890 Apartment AAAA111...,123-456-7890,AAAA1111222
1,"I live at 456 Main Street, Apartment 3B",NaN,3B

In [32]:
text = "apple_banana_cherry"
result = text.split('_')
print(result)
print(result[0])

['apple', 'banana', 'cherry']
apple

In [ ]:
str.split('_')
str.replace('this','with this')
str.contains('a')
str.startswith('b','c')
str.endswith('b','c')
str.upper()
str.lower()
-----------------------------------------------------------
str.islower()
str.isupper()
str.capitalize()
str.title()
------------------------------------------------------------
df.iloc[0,0]                # first location
df.iloc[0,0] = '22'
df.loc['c', 'two']         # row c and column two
df.loc['c', 'two'] = 33 
df.loc['a':'c']            # rows a to c
df.loc['b':'d', 'two']     # rows b to d and column two 
df.loc[:, 'C':'E']         # all rows from C to E column
df.loc[df["gender"] == "male","gender"] = 0
df.loc[df["gender"] == "female","gender"] = 1
----------------------------------------------------------
df.drop_duplicates(subset=['A'], keep='last')
df.drop([0,4], inplace=True)
df.dropna()
df.dropna(subset = ['C')]
df.fillna(1)
df.groupby('Group')['ID'].nunique()
pd.unique(df['A']).tolist()
df[df['A'] == 1]['B'].tolist()
-------------------------------------------------------------
df['count_B']=df.groupby(['group1','group2']).B.transform('count')
df.groupby(['A','B']).mean()
df.groupby(['A','B']).agg(['count', 'mean'])
for jinsi, data in df.groupby('Jinsi'):
 data.to_csv("{}.csv".format(jinsi))
------------------------------------------------------------
df[:10] # same as df.head(10)
df[-10:] # same as df.tail(10)

-----------------------------------------------------------
for index, row in df.iterrows()
----------------------------------------------------------
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
list3 = [10, 20, 15, 30]
# Use zip to combine the lists
zipped = zip(list1, list2, list3)
zipped_list = list(zipped)
print(zipped_list)
---------------------------------------------------------
a = [1, 2, 3]
b = [4, 5, 6]
c = [x+y for (x,y) in zip(a,b)]
---------------------------------------------------------
zipped_list = [(1, 'a',1), (2, 'b',3), (3, 'c',4), (4, 'd',5)]
list1, list2, list3 = zip(*zipped_list)
-------------------------------------------------------------------
del df['C']
df.drop(df.columns[[0, 2]], axis='columns')
df.drop(['B', 'E'], axis='columns', inplace=True)
-----------------------------------------------------------------
df.rename(columns={'old_name_1': 'new_name_1', 'old_name_2': 'new_name_2'}, inplace=True)
df['C'] = df['A'] + df['B']
-------------------------------------------------------------------
re_order_column = ['B', 'C', 'A']
df = df[re_column]
----------------------------------------------------------------------
def countdown(n):
    while n > 0:
        yield n
        n -= 1
for i in countdown(5):
    print(i)
------------------------------------------------------------------
import platform
print(platform.python_version())

In [ ]:
directory =  r"C:\Users\00220401626\Desktop\FMS\CsvData"
file_pattern = '20*'  
files = glob.glob(os.path.join(directory, file_pattern))
files.sort()
folder_path = files[-1]
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))

In [ ]:
try:
    num1 = float(input("Enter the numerator: "))
    num2 = float(input("Enter the denominator: "))
    result = divide_numbers(num1, num2)
    if result is not None:
        print(f"Result: {result}")
except ValueError:
    print("Error: Please enter valid numeric values.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    print("Execution completed.")

In [ ]:
try:
    # Example 1: SyntaxError
    print("Hello, world!"

    # Example 2: IndentationError
    if True:
    print("Indentation is incorrect.")

    # Example 3: TypeError
    result = 10 + "5"

    # Example 4: NameError
    print(undefined_variable)

    # Example 5: ValueError
    number = int("abc")

    # Example 6: ZeroDivisionError
    result = 10 / 0

    # Example 7: FileNotFoundError
    with open("nonexistent_file.txt", "r") as file:
        content = file.read()

    # Example 8: IndexError
    my_list = [1, 2, 3]
    print(my_list[5])

    # Example 9: KeyError
    my_dict = {'a': 1, 'b': 2}
    value = my_dict['c']

    # Example 10: AttributeError
    x = "hello"
    length = x.length

except SyntaxError as e:
    print(f"SyntaxError: {e}")
except IndentationError as e:
    print(f"IndentationError: {e}")
except TypeError as e:
    print(f"TypeError: {e}")
except NameError as e:
    print(f"NameError: {e}")
except ValueError as e:
    print(f"ValueError: {e}")
except ZeroDivisionError as e:
    print(f"ZeroDivisionError: {e}")
except FileNotFoundError as e:
    print(f"FileNotFoundError: {e}")
except IndexError as e:
    print(f"IndexError: {e}")
except KeyError as e:
    print(f"KeyError: {e}")
except AttributeError as e:
    print(f"AttributeError: {e}")

finally:
    print("This will always be executed.")

In [ ]:
#########################################################################SQL###################################################################################################################

In [ ]:
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

logging.debug('Detailed information, typically of interest only when diagnosing problems')
logging.info('Confirmation that things are working as expected.')
logging.warning('Indication that something unexpected happened or an issue might arise soon The software is still functioning as expected.')
logging.error('Indicates a more serious problem, the software is unable to perform some function.')
logging.critical(' A very serious error, indicating that the program itself may be unable to continue running.')

In [ ]:
"  SELECT 列名
"     FROM 表名          
"     WHERE 検索条件                  # 検索条件を指定します。
"     GROUP BY 列名                   # 行のグループの特性を調べる
"     HAVING 検索条件                 # GROUP BY 文節に基づいて選択されるグループに対し、検索条件を指定します
"     ORDER BY 列名                   # ユーザーが希望する順番を指定します

In [ ]:
# Creat Table
CREATE TABLE CONDUCTIVITY (
    EQP_ID VARCHAR(8) NOT NULL,
    UNIT_NUM VARCHAR(3) NOT NULL,
    DATE_TIME TIMESTAMP NOT NULL,
    VALUE DECIMAL(6,5),
    PRIMARY KEY (EQP_ID, UNIT_NUM, DATE_TIME)
);

In [ ]:
# Connect DB
conn = ibm_db.connect("DATABASE=AYB_APPL;HOSTNAME=10.143.16.244;PORT=50000;PROTOCOL=TCPIP;UID=IOT_DATA;PWD=asd23fgh;", "", "")
if conn:
    print("Connected to the database")

In [ ]:
# DELETE
delete_query = "DELETE FROM CONDUCTIVITY"
try:
    ibm_db.autocommit(conn, ibm_db.SQL_AUTOCOMMIT_OFF)
    if ibm_db.exec_immediate(conn, delete_query):
        print("Existing data deleted successfully")
    ibm_db.commit(conn)
    
except Exception as e:
    print("Error:", e)
    ibm_db.rollback(conn)

In [ ]:
#DELETE with WHERE
delete_query = "DELETE FROM LIQUID_PARTICLE_TEST 

try:
    ibm_db.autocommit(conn, ibm_db.SQL_AUTOCOMMIT_OFF)
    if ibm_db.exec_immediate(conn, delete_query):
        print("Selected rows deleted successfully")

    ibm_db.commit(conn)
except Exception as e:
    print("Error:", e)
    ibm_db.rollback(conn)

In [ ]:
#SELECT 

sql_query = "SELECT * FROM CONDUCTIVITY"
stmt = ibm_db.exec_immediate(conn, sql_query)

data = []
row = ibm_db.fetch_assoc(stmt)

while row:
    data.append(row)
    row = ibm_db.fetch_assoc(stmt)
df = pd.DataFrame(data)
df

In [ ]:
# MERGE TWO TABLE
MERGE INTO CONDUCTIVITY AS TGT
USING (
    VALUES 
        ('LEV50001', '020', TIMESTAMP '2023-12-04 15:01:09', 233),
        ('LEV50001', '020', TIMESTAMP '2023-12-02 15:01:39', 4.00000),
        ('LEV50001', '020', TIMESTAMP '2023-12-03 15:02:09', 5.00000)
) AS INSERTDATA (EQP_ID, UNIT_NUM, DATE_TIME, COND_VALUES)
ON (
    TGT.EQP_ID = INSERTDATA.EQP_ID 
    AND TGT.UNIT_NUM = INSERTDATA.UNIT_NUM 
    AND TGT.DATE_TIME = INSERTDATA.DATE_TIME
)
WHEN MATCHED THEN 
    UPDATE SET TGT.COND_VALUES = INSERTDATA.COND_VALUES
WHEN NOT MATCHED THEN 
    INSERT (EQP_ID, UNIT_NUM, DATE_TIME, COND_VALUES) 
    VALUES (INSERTDATA.EQP_ID, INSERTDATA.UNIT_NUM, INSERTDATA.DATE_TIME, INSERTDATA.COND_VALUES);

In [ ]:
# 4. データがあればUPDATE, データがなければINSERTする。
MERGE INTO LIQUID_PARTICLE_LAST AS target
USING (SELECT ? AS LOCATION, ? AS TS_DT, ? AS VALUE_1_0, ? AS VALUE_3_0, ? AS VALUE_5_0, ? AS VALUE_10_0, ? AS VALUE_15_0, ? AS VALUE_20_0, ? AS VALUE_25_0, ? AS VALUE_50_0 FROM SYSIBM.SYSDUMMY1) AS source
ON target.LOCATION = source.LOCATION
WHEN MATCHED THEN
    UPDATE SET target.TS_DT = source.TS_DT, 
               target.VALUE_1_0 = source.VALUE_1_0, 
               target.VALUE_3_0 = source.VALUE_3_0, 
               target.VALUE_5_0 = source.VALUE_5_0, 
               target.VALUE_10_0 = source.VALUE_10_0, 
               target.VALUE_15_0 = source.VALUE_15_0, 
               target.VALUE_20_0 = source.VALUE_20_0, 
               target.VALUE_25_0 = source.VALUE_25_0, 
               target.VALUE_50_0 = source.VALUE_50_0
WHEN NOT MATCHED THEN
    INSERT (LOCATION, TS_DT, VALUE_1_0, VALUE_3_0, VALUE_5_0, VALUE_10_0, VALUE_15_0, VALUE_20_0, VALUE_25_0, VALUE_50_0)
    VALUES (source.LOCATION, source.TS_DT, source.VALUE_1_0, source.VALUE_3_0, source.VALUE_5_0, source.VALUE_10_0, source.VALUE_15_0, source.VALUE_20_0, source.VALUE_25_0, source.VALUE_50_0);

In [ ]:
df = pd.read_csv(r'C:\\Users\\00220401626\\Desktop\\FMS\\CsvData\\2023\\20231001.csv', encoding='cp932', dtype=object)
df=df.iloc[:12000,::]

df['Timestamp'] = df['Timestamp'].str.replace('/', '-', regex=False) 

data = tuple(tuple(row) for row in df.values )
       
b = ""
for row in data:
    b += str(row) +","
b = b[:-1]
insert_query = f"INSERT INTO LIQUID_PARTICLE_TEST (Location, TS_DT, VALUE_1_0, VALUE_3_0, VALUE_5_0, VALUE_10_0, VALUE_15_0, VALUE_20_0, VALUE_25_0, VALUE_50_0) VALUES {b}"
stmt = ibm_db.prepare(conn, insert_query)
if ibm_db.execute(stmt,b):
    print("Inserted successfully")
else:
    print("Already updated")
    
insertion_time = df['Timestamp'].max()
json_data = {'insertion_time': insertion_time}
with open('insertion_time.json', 'w') as json_file:
    json.dump(json_data, json_file, indent=4)

In [ ]:
# 4. データがあればUPDATE, データがなければINSERTする

merge_query = """
MERGE INTO LIQUID_PARTICLE_LAST AS target
USING (SELECT ? AS LOCATION, ? AS TS_DT, ? AS VALUE_1_0, ? AS VALUE_3_0, ? AS VALUE_5_0, ? AS VALUE_10_0, ? AS VALUE_15_0, ? AS VALUE_20_0, ? AS VALUE_25_0, ? AS VALUE_50_0 FROM SYSIBM.SYSDUMMY1) AS source
ON target.LOCATION = source.LOCATION
WHEN MATCHED THEN
    UPDATE SET target.TS_DT = source.TS_DT, 
               target.VALUE_1_0 = source.VALUE_1_0, 
               target.VALUE_3_0 = source.VALUE_3_0, 
               target.VALUE_5_0 = source.VALUE_5_0, 
               target.VALUE_10_0 = source.VALUE_10_0, 
               target.VALUE_15_0 = source.VALUE_15_0, 
               target.VALUE_20_0 = source.VALUE_20_0, 
               target.VALUE_25_0 = source.VALUE_25_0, 
               target.VALUE_50_0 = source.VALUE_50_0
WHEN NOT MATCHED THEN
    INSERT (LOCATION, TS_DT, VALUE_1_0, VALUE_3_0, VALUE_5_0, VALUE_10_0, VALUE_15_0, VALUE_20_0, VALUE_25_0, VALUE_50_0)
    VALUES (source.LOCATION, source.TS_DT, source.VALUE_1_0, source.VALUE_3_0, source.VALUE_5_0, source.VALUE_10_0, source.VALUE_15_0, source.VALUE_20_0, source.VALUE_25_0, source.VALUE_50_0);
"""

stmt = ibm_db.prepare(conn, merge_query)

for index, row in latest_data.iterrows():
    location = row['Location']
    timestamp = row['Timestamp']
    c1 = row['1.0μｍ']
    c3 = row['3.0μｍ']
    c5 = row['5.0μｍ']
    c10 = row['10.0μｍ']
    c15 = row['15.0μｍ']
    c20 = row['20.0μｍ']
    c25 = row['25.0μｍ']
    c50 = row['50.0μｍ']
    
    if ibm_db.execute(stmt, (location, timestamp, c1, c3, c5, c10, c15, c20, c25, c50)):
        print(f"Row {index + 1} merged successfully")
    else:
        print(f"Error merging row {index + 1}: {ibm_db.stmt_errormsg()}")

In [ ]:
#INSERT

insert_query = "INSERT INTO LIQUID_PARTICLE (LOCATION, TS_DT, VALUE_1_0, VALUE_3_0, VALUE_5_0, VALUE_10_0, VALUE_15_0, VALUE_20_0, VALUE_25_0, VALUE_50_0) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

insert = ibm_db.prepare(conn, insert_query)
for index, row in df.iterrows():
    location = row['Location']
    timestamp = row['Timestamp']
    c1 = row['1.0μｍ']
    c3 = row['3.0μｍ']
    c5 = row['5.0μｍ']
    c10 = row['10.0μｍ']
    c15 = row['15.0μｍ']
    c20 = row['20.0μｍ']
    c25 = row['25.0μｍ']
    c50 = row['50.0μｍ']

    if ibm_db.execute(insert, (location, timestamp, c1, c3, c5, c10, c15, c20, c25, c50)):
        print(f"Row {index + 1} inserted successfully")
    else:
        print(f"Error inserting row {index + 1}: {ibm_db.stmt_errormsg()}")
print('All Rows are inserted')
ibm_db.commit(conn)
ibm_db.close(conn)

In [ ]:
# UPDATE
update_query = "UPDATE table_name SET column1 = ? WHERE column2 = ?"
new_value = "new_value"
where_value = "some_condition"
params = (new_value, where_value)  
stmt = ibm_db.prepare(conn, update_query)
ibm_db.execute(stmt, params)

In [1]:
# Create JSON file
data = {
    "database": "AYB_APPL",
    "hostname": "10.143.16.244",
    "port": "50000",
    "protocol": "TCPIP",
    "uid": "IOT_DATA",
    "pwd": "asd23fgh",
    "directory":r"C:\Users\00220401626\Desktop\FMS\CsvData"
}


file_path = 'config.json'

with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=2)

print(f'JSON file "{file_path}" created successfully.')

NameError: name 'json' is not defined

In [6]:
import json
# Create JSON file
data = {
  "comment": "",
  "unit_num": "020",
  "pw": "asd23fgh",
  "eqp_id": "LEV10001",
  "unit_name": "酸・アルカリ洗浄",
  "dst_dir": "/IoT/bin/ftp/tmp/020/Conductivity/*/*CSV",
  "database": "AYB_APPL",
  "username": "IOT_DATA",
  "server": "10.143.16.244",
  "schema": "IOT_DATA",
  "table": "CONDUCTIVITY"
}


file_path = r'C:\Users\00220401626\Desktop\Conductivity1.json'

with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=2)

print(f'JSON file "{file_path}" created successfully.')

JSON file "C:\Users\00220401626\Desktop\Conductivity1.json" created successfully.

In [39]:
import fitz  # PyMuPDF
import pandas as pd
from pathlib import Path
import re

def extract_japanese_words_from_pdf(pdf_path):
    words_list = []
    with fitz.open(pdf_path) as pdf_document:
        for page_num in range(pdf_document.page_count):
            page = pdf_document[page_num]
            text = page.get_text()
            japanese_words = re.findall(r'[ぁ-んァ-ン一-龥ー]+', text)
            words_list.extend(japanese_words)
    return words_list

def filter_and_export_to_csv(words_list, output_csv_path):
    filtered_words = sorted(words_list, key=len)
    df = pd.DataFrame({'Japanese Words': filtered_words})
    df.to_csv(output_csv_path, index=False, encoding='utf-8')

if __name__ == "__main__":
    pdf_path = r'C:\Users\00220401626\Desktop\スマートFA\データベース入門 配布資料\01_補足資料\③GROUP BYの補足.pdf'
    output_csv_path = r'C:\Users\00220401626\Desktop\Words\Muhim_Pdf\list.csv'
    japanese_words_list = extract_japanese_words_from_pdf(pdf_path)

    filter_and_export_to_csv(japanese_words_list, output_csv_path)

    print(f"Japanese words extracted from PDF and exported to {output_csv_path}")

Japanese words extracted from PDF and exported to C:\Users\00220401626\Desktop\Words\Muhim_Pdf\list.csv

In [29]:
import fitz 

def extract_text_from_pdf(pdf_path):
    text = ''
    with fitz.open(pdf_path) as pdf_document:
        for page_number in range(pdf_document.page_count):
            page = pdf_document[page_number]
            text += page.get_text("text")  
            print(text)

    return text
    
pdf_text = extract_text_from_pdf(r'C:\Users\00220401626\Desktop\Words\Muhim_Pdf\2312_社販チラシ_WEB.pdf')

© 2023
京セラグループ社員向け
セラミックキッチン用品
WEB特別販売会
2023年
2024年
12/1金  ～ 1/31水
実 施
期 間
購 入
場 所
楽天市場にて販売
✓自宅直送 ✓楽天ポイント付与
✓送料無料（一部商品を除く）
グ レ ー ( I H 対 応 品 ) 購 入 １ 枚 に つ き
「 ポ テ ト ン グ ミ ニ 」 １ つ プ レ ゼ ン ト
30%
OFF
¥3,234(税込)～
通 常 価 格  ¥4,620（ 税 込 ） ～
セ ラ ブ リ ッ ド
フ ラ イ パ ン 各 種
パ ッ ケ ー ジ 切 替 の た め 特 別 価 格
¥9,636(税込)～
通 常 価 格  ¥16,060（ 税 込 ） ～
40%
OFF
2 本 セ ッ ト （ 1 2 . 5 / 1 4 c m ）
3 本 セ ッ ト （ 1 2 . 5 / 1 4 / 1 6 c m ）
ココチカル セラミックナイフ
そ の 他 , 福 袋 や ボ ト ル な ど セ ー ル 品 を 多 数 ご 用 意 し て お り ま す 。
※ 在 庫 売 り 切 り 商 品 も ご ざ い ま す 。
69%
OFF
MAX
※ご購入は京セラグループ社員限定とさせていただきますので、
　京セラグループ社員以外への情報共有はご遠慮ください。
※楽天市場にない商品もクーポン使用で30%OFFにてお買い求めいただけます。
京セラキッチン
オンラインストア
全品 30%OFF
I D：kyocera-apd
PW：kyocera2312
京セラキッチン
楽天市場店
クーポンコード
kyocera2312
京セラキッチン
オンラインストア
同時開催
指
を
汚
さ
ず
食
べ
ら
れ
る
ポ
テ
ト
チ
ッ
プ
ス
専
用
ト
ン
グ

1

In [32]:
import os
from janome.tokenizer import Tokenizer
import fitz

def extract_text_from_directory(directory_path):
    text = ''
    tokenizer = Tokenizer()

    for filename in os.listdir(directory_path):
        if filename.endswith(".pdf"):
            pdf_path = os.path.join(directory_path, filename)
            with fitz.open(pdf_path) as pdf_document:
                for page_number in range(pdf_document.page_count):
                    page = pdf_document[page_number]
                    text += page.get_text("text")  

    # Tokenize Japanese text
    tokens = tokenizer.tokenize(text)
    separated_words = [token.surface for token in tokens]

    return separated_words

pdf_words = extract_text_from_directory(r'C:\Users\00220401626\Desktop\Words\Muhim_Pdf')
pdf_words

['©',
 ' ',
 '2023',
 '\n',
 '京セラ',
 'グループ',
 '社員',
 '向け',
 '\n',
 'セラミック',
 'キッチン',
 '用品',
 '\n',
 'WEB',
 '特別',
 '販売',
 '会',
 '\n',
 '2023',
 '年',
 '\n',
 '2024',
 '年',
 '\n',
 '12',
 '/',
 '1',
 '金',
 '  ',
 '～',
 ' ',
 '1',
 '/',
 '31',
 '水',
 '\n',
 '実',
 ' ',
 '施',
 '\n',
 '期',
 ' ',
 '間',
 '\n',
 '購',
 ' ',
 '入',
 '\n',
 '場',
 ' ',
 '所',
 '\n',
 '楽天',
 '市場',
 'にて',
 '販売',
 '\n',
 '✓',
 '自宅',
 '直送',
 ' ',
 '✓',
 '楽天',
 'ポイント',
 '付与',
 '\n',
 '✓',
 '送料',
 '無料',
 '（',
 '一部',
 '商品',
 'を',
 '除く',
 '）',
 '\n',
 'グ',
 ' ',
 'レ',
 ' ',
 'ー',
 ' ',
 '(',
 ' ',
 'I',
 ' ',
 'H',
 ' ',
 '対',
 ' ',
 '応',
 ' ',
 '品',
 ' ',
 ')',
 ' ',
 '購',
 ' ',
 '入',
 ' ',
 '１',
 ' ',
 '枚',
 ' ',
 'に',
 ' ',
 'つ',
 ' ',
 'き',
 '\n',
 '「',
 ' ',
 'ポ',
 ' ',
 'テ',
 ' ',
 'ト',
 ' ',
 'ン',
 ' ',
 'グ',
 ' ',
 'ミ',
 ' ',
 'ニ',
 ' ',
 '」',
 ' ',
 '１',
 ' ',
 'つ',
 ' ',
 'プ',
 ' ',
 'レ',
 ' ',
 'ゼ',
 ' ',
 'ン',
 ' ',
 'ト',
 '\n',
 '30',
 '%',
 '\n',
 'OFF',
 '\n',
 '¥',
 '3',
 ',',
 '234',
 '(',
 '税込',
 ')～',
 '\n',
 '通',
 ' ',
 '常',
 ' ',
 '価',
 ' ',
 '格',
 '  ',
 '¥',
 '4',
 ',',
 '620',
 '（',
 ' ',
 '税',
 ' ',
 '込',
 ' ',
 '）',
 ' ',
 '～',
 '\n',
 'セ',
 ' ',
 'ラ',
 ' ',
 'ブ',
 ' ',
 'リ',
 ' ',
 'ッ',
 ' ',
 'ド',
 '\n',
 'フ',
 ' ',
 'ラ',
 ' ',
 'イ',
 ' ',
 'パ',
 ' ',
 'ン',
 ' ',
 '各',
 ' ',
 '種',
 '\n',
 'パ',
 ' ',
 'ッ',
 ' ',
 'ケ',
 ' ',
 'ー',
 ' ',
 'ジ',
 ' ',
 '切',
 ' ',
 '替',
 ' ',
 'の',
 ' ',
 'た',
 ' ',
 'め',
 ' ',
 '特',
 ' ',
 '別',
 ' ',
 '価',
 ' ',
 '格',
 '\n',
 '¥',
 '9',
 ',',
 '636',
 '(',
 '税込',
 ')～',
 '\n',
 '通',
 ' ',
 '常',
 ' ',
 '価',
 ' ',
 '格',
 '  ',
 '¥',
 '16',
 ',',
 '060',
 '（',
 ' ',
 '税',
 ' ',
 '込',
 ' ',
 '）',
 ' ',
 '～',
 '\n',
 '40',
 '%',
 '\n',
 'OFF',
 '\n',
 '2',
 ' ',
 '本',
 ' ',
 'セ',
 ' ',
 'ッ',
 ' ',
 'ト',
 ' ',
 '（',
 ' ',
 '1',
 ' ',
 '2',
 ' ',
 '.',
 ' ',
 '5',
 ' ',
 '/',
 ' ',
 '1',
 ' ',
 '4',
 ' ',
 'c',
 ' ',
 'm',
 ' ',
 '）',
 '\n',
 '3',
 ' ',
 '本',
 ' ',
 'セ',
 ' ',
 'ッ',
 ' ',
 'ト',
 ' ',
 '（',
 ' ',
 '1',
 ' ',
 '2',
 ' ',
 '.',
 ' ',
 '5',
 ' ',
 '/',
 ' ',
 '1',
 ' ',
 '4',
 ' ',
 '/',
 ' ',
 '1',
 ' ',
 '6',
 ' ',
 'c',
 ' ',
 'm',
 ' ',
 '）',
 '\n',
 'ココチカル',
 ' ',
 'セラミック',
 'ナイフ',
 '\n',
 'そ',
 ' ',
 'の',
 ' ',
 '他',
 ' ',
 ',',
 ' ',
 '福',
 ' ',
 '袋',
 ' ',
 'や',
 ' ',
 'ボ',
 ' ',
 'ト',
 ' ',
 'ル',
 ' ',
 'な',
 ' ',
 'ど',
 ' ',
 'セ',
 ' ',
 'ー',
 ' ',
 'ル',
 ' ',
 '品',
 ' ',
 'を',
 ' ',
 '多',
 ' ',
 '数',
 ' ',
 'ご',
 ' ',
 '用',
 ' ',
 '意',
 ' ',
 'し',
 ' ',
 'て',
 ' ',
 'お',
 ' ',
 'り',
 ' ',
 'ま',
 ' ',
 'す',
 ' ',
 '。',
 '\n',
 '※',
 ' ',
 '在',
 ' ',
 '庫',
 ' ',
 '売',
 ' ',
 'り',
 ' ',
 '切',
 ' ',
 'り',
 ' ',
 '商',
 ' ',
 '品',
 ' ',
 'も',
 ' ',
 'ご',
 ' ',
 'ざ',
 ' ',
 'い',
 ' ',
 'ま',
 ' ',
 'す',
 ' ',
 '。',
 '\n',
 '69',
 '%',
 '\n',
 'OFF',
 '\n',
 'MAX',
 '\n',
 '※',
 'ご',
 '購入',
 'は',
 '京セラ',
 'グループ',
 '社員',
 '限定',
 'と',
 'さ',
 'せ',
 'て',
 'いただき',
 'ます',
 'ので',
 '、',
 '\n',
 '\u3000',
 '京セラ',
 'グループ',
 '社員',
 '以外',
 'へ',
 'の',
 '情報',
 '共有',
 'は',
 'ご',
 '遠慮',
 'ください',
 '。',
 '\n',
 '※',
 '楽天',
 '市場',
 'に',
 'ない',
 '商品',
 'も',
 'クーポン',
 '使用',
 'で',
 '30',
 '%',
 'OFF',
 'にて',
 'お',
 '買い求め',
 'い',
 'た',
 'だけ',
 'ます',
 '。',
 '\n',
 '京セラ',
 'キッチン',
 '\n',
 'オンライン',
 'ストア',
 '\n',
 '全品',
 ' ',
 '30',
 '%',
 'OFF',
 '\n',
 'I',
 ' ',
 'D',
 '：',
 'kyocera',
 '-',
 'apd',
 '\n',
 'PW',
 '：',
 'kyocera',
 '2312',
 '\n',
 '京セラ',
 'キッチン',
 '\n',
 '楽天',
 '市場',
 '店',
 '\n',
 'クーポン',
 'コード',
 '\n',
 'kyocera',
 '2312',
 '\n',
 '京セラ',
 'キッチン',
 '\n',
 'オンライン',
 'ストア',
 '\n',
 '同時',
 '開催',
 '\n',
 '指',
 '\n',
 'を',
 '\n',
 '汚',
 '\n',
 'さ',
 '\n',
 'ず',
 '\n',
 '食',
 '\n',
 'べ',
 '\n',
 'ら',
 '\n',
 'れ',
 '\n',
 'る',
 '\n',
 'ポ',
 '\n',
 'テ',
 '\n',
 'ト',
 '\n',
 'チ',
 '\n',
 'ッ',
 '\n',
 'プ',
 '\n',
 'ス',
 '\n',
 '専',
 '\n',
 '用',
 '\n',
 'ト',
 '\n',
 'ン',
 '\n',
 'グ']

In [ ]:
sql_insert_under += ' INSERT (' + ','.join([datarow for datarow in column_hist_latest]) + ')'

In [ ]:
C:\Work\20_particle\CSV

{ 
  "pc_csv": "\\10.143.64.59\\ParticleData",
  "local_csv": "C:\Work\20_particle\CSV",
  "log_path": "C:\Users\00220401626\Desktop\test\debug.log"
}

In [8]:
import json

data = {
    "database": "AYB_APPL",
    "host": "10.143.16.244",
    "port": "50000",
    "protocol":"TCPIP",
    "uid":"IOT_DATA",
    "pwd":"asd23fgh",
    "pc_csv": "\\10.143.64.59\\ParticleData",
    "local_csv": "C:\\Work\\20_particle\\CSV",
    "log": "C:\\Work\\20_particle\\debug.log",
    "insertion_time":" "
}

file_path = 'C:\\Users\\00220401626\\Desktop\\config.json'

with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=2)

print(f'JSON file "{file_path}" created successfully.')

JSON file "C:\Users\00220401626\Desktop\config.json" created successfully.

In [1]:
import json

data = {
    "database": "AYB_APPL",
    "host": "10.143.16.244",
    "port": "50000",
    "protocol": "TCPIP",
    "uid": "IOT_DATA",
    "pwd": "asd23fgh",
    "pc_csv": "C:\\Users\\00220401626\\Desktop\\Ayabe\\FMS\\CsvData\\2023",
    "local_csv": "C:\\Users\\00220401626\\Desktop\test\\CSV",
    "log": "C:\\Users\\00220401626\\Desktop\test\\debug.log",
    "insertion_time": "2023/01/01 10:00:00"
}

file_path = 'C:\\Users\\00220401626\\Desktop\\config.json'

with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=2)

print(f'JSON file "{file_path}" created successfully.')

JSON file "C:\Users\00220401626\Desktop\config.json" created successfully.