**研修用データベース接続先**  

MySQL、IP：10.110.55.59、port：3306、DB：kenshu、ID：kenshu、PW：kenshu  

接続のために下記のコードを毎回ご使用ください。

In [1]:
import pandas as pd
import sqlalchemy as sa
import pymysql

url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)
# 接続確認
# このような英語が出ればOK　<sqlalchemy.engine.base.Connection object at 0x00000205C900D7F0>
con = engine.connect()
print(con)
con.close()

**NASフォルダ接続先**  

IP：\\\\10.110.0.44  
ID：user  
PW：Kyocera00!

In [3]:
from pathlib import Path

folder = Path("./file/pathlib/a")
files = list(folder.glob("*.csv"))
print(files)

for file in files:
    print(file)
    df = pd.read_csv(file)
    display(df)

[WindowsPath('file/pathlib/a/result_1.csv'), WindowsPath('file/pathlib/a/result_2.csv')]
file\pathlib\a\result_1.csv

   ナンバー1
0      0
1      1
2      2
3      3
4      4
5      5

file\pathlib\a\result_2.csv

   ナンバー2
0      6
1      7
2      8
3      9
4     10