In [2]:
import pandas as pd
import sqlalchemy as sa
import pymysql
from pathlib import Path
import os
import shutil

In [3]:
url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)

path_before = r"C:\Users\******\取り込み前" # 自分のPCパス（移動前）
path_after = r"C:\Users\******\取り込み後" # 自分のPCパス（移動後）

folder = Path(path_before)
files = list(folder.glob("*"))
print(files)

[]

In [4]:
engine

Engine(mysql+pymysql://kenshu:***@10.110.55.59:3306/kenshu?charset=utf8)

In [3]:
engine = sa.create_engine(url)
con = engine.connect()

In [4]:
files.sort(key=os.path.getmtime)

# この出力は不要ですが、確認用に出力
import datetime
for file in files:
    koshin = file.stat().st_mtime
    print(file.stem, ":", datetime.datetime.fromtimestamp(koshin))

0201_a社 : 2021-02-01 12:00:00
0101_a社 : 2021-12-03 12:43:38.856698
0301_a社 : 2021-12-21 14:01:51.490063

In [5]:
"""
■まず最初にデータエンジニア自信で運用方法を考えて、必要な設定を手動で行います■

今回の場合だと、
・まず一つのcsvを読み込んで、DBに入れる形に整形する
・実際にDBに入れる（一つのcsvデータ分のみ）
・テーブルの設定をする（型、primary key）
　↓
・定期実行用のコードを書いて、今あるファイルで実行してみる

※既存データはDBに存在し、新しいExcelファイルが「移動前」フォルダに入ってくるので
　運用を考えると、「全部のファイルをDBからPythonに落としてきて重複行を落とす」よりも
　DBにSQLを送って「新規行は追加、既存行は更新」を行う方がよい
"""

'\n■まず最初にデータエンジニア自信で運用方法を考えて、必要な設定を手動で行います■\n\n今回の場合だと、\n・まず一つのcsvを読み込んで、DBに入れる形に整形する\n・実際にDBに入れる（一つのcsvデータ分のみ）\n・テーブルの設定をする（型、primary key）\n\u3000↓\n・定期実行用のコードを書いて、今あるファイルで実行してみる\n\n※既存データはDBに存在し、新しいExcelファイルが「移動前」フォルダに入ってくるので\n\u3000運用を考えると、「全部のファイルをDBからPythonに落としてきて重複行を落とす」よりも\n\u3000DBにSQLを送って「新規行は追加、既存行は更新」を行う方がよい\n'

In [6]:
file = files[1]

df_m = pd.read_excel(file,skiprows=1)
# df_m = pd.read_excel(file,skiprows=1, usecols='B:D') # 列名指定読み込みはこれでできますが、あまりお勧めはしません
df_m

   Unnamed: 0      UDATE PARTS  CYC  Unnamed: 4  Unnamed: 5  Unnamed: 6
0         NaN 2021-01-01  a001  1.0         NaN         NaN         NaN
1         NaN 2021-01-01  a002  2.0         NaN         NaN         NaN
2         NaN 2021-01-01  a003  2.0         NaN         NaN         NaN
3         NaN 2021-01-01  a004  1.0         NaN         NaN         NaN
4         NaN 2021-01-01  a005  3.0         NaN         NaN         NaN
5         NaN 2021-01-01  a006  3.0         NaN         NaN         NaN
6         NaN 2021-01-01  a007  1.0         NaN         NaN         NaN
7         NaN        NaT   NaN  NaN         NaN         NaN         NaN
8         NaN        NaT   NaN  NaN         NaN         NaN         4.0

In [7]:
df = df_m.copy()
df = df[["PARTS", "UDATE", "CYC"]]
df = df.dropna()
df

  PARTS      UDATE  CYC
0  a001 2021-01-01  1.0
1  a002 2021-01-01  2.0
2  a003 2021-01-01  2.0
3  a004 2021-01-01  1.0
4  a005 2021-01-01  3.0
5  a006 2021-01-01  3.0
6  a007 2021-01-01  1.0

In [8]:
# df.to_sql("fuku04", engine, if_exists="append", index=None)
df3.to_sql("fuku04", engine, if_exists="replace", index=None)

7

テーブル定義変更SQL
```mysql
alter table fuku04
modify PARTS varchar (4), 
modify UDATE datetime, 
modify CYC int, 
add primary key (PARTS)
```

■Pythonテキストのサンプルコード  
（これをお手本に、Pythonから「新規行は挿入、既存行は更新」のSQLコードを書く）  

```python
engine.execute(
    f"""
  insert into {table} values (%s,%s) 
  on duplicate key update A2 = values(A2)
  """,
    df.values.tolist(),
)
```

In [9]:
# 実際に実行する前に、送るコードを出力して、内容を確認しておく方が良い（定期実行時は書かなくてよい）
df.values.tolist()

[['a001', Timestamp('2021-01-01 00:00:00'), 1.0],
 ['a002', Timestamp('2021-01-01 00:00:00'), 2.0],
 ['a003', Timestamp('2021-01-01 00:00:00'), 2.0],
 ['a004', Timestamp('2021-01-01 00:00:00'), 1.0],
 ['a005', Timestamp('2021-01-01 00:00:00'), 3.0],
 ['a006', Timestamp('2021-01-01 00:00:00'), 3.0],
 ['a007', Timestamp('2021-01-01 00:00:00'), 1.0]]

In [10]:
table_name = "fuku04"
con.execute(f"truncate {table_name}")

con.execute(
    f"""
  insert into {table_name} values (%s,%s,%s) 
  on duplicate key update UDATE = values(UDATE),CYC = values(CYC)
  """,
    df.values.tolist(),
)

In [11]:
# 今あるデータを消しておく（定期実行するときに、新しく入れたデータか元から入ってたデータか分からなくなるから）

con.execute(f"truncate {table_name}")

In [12]:
"""
■ここからは定期実行するためのコードです■
実際はimport部分と、下記のコードをpyファイルに入れて、タスクスケジューラで定期実行します
"""

'\n■ここからは定期実行するためのコードです■\n実際はimport部分と、下記のコードをpyファイルに入れて、タスクスケジューラで定期実行します\n'

In [13]:
# DBにテーブルを作成し、テーブル定義を設定してからfor分でデータを追加していく
# SQL文で重複データの優先順位を定義し、executeでDBに書き込み

import pandas as pd
import sqlalchemy as sa
import pymysql
from pathlib import Path
import os
import shutil

url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)

path_before = r"C:\Users\******\取り込み前" # 自分のPCパス（移動前）
path_after = r"C:\Users\******\取り込み後" # 自分のPCパス（移動後）

folder = Path(path_before)
files = list(folder.glob("*"))
files.sort(key=os.path.getmtime)

con = engine.connect()

for file in files:
    print('■', file.stem)
    df = pd.read_excel(file, skiprows=1)
    df = df[["PARTS", "UDATE", "CYC"]]
    df = df.dropna()
#     display(df)
    con.execute(
        """
      insert into fuku04 values (%s,%s,%s) 
      on duplicate key update UDATE = values(UDATE), CYC = values(CYC)
      """,
        df.values.tolist(),
    )
    shutil.move(file, path_after)

con.close()

■ 0201_a社
■ 0101_a社
■ 0301_a社