In [1]:
import pandas as pd
import sqlalchemy as sa
import pymysql
from pathlib import Path
import time

url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)
con = engine.connect()

df1_m = pd.read_sql("select * from kenshu_read.dx_kenshu05_1",engine)
df2_m = pd.read_sql("select * from kenshu_read.dx_kenshu05_2",engine)

In [2]:
df1_m

     MONTH  JPY     USD     EUR   THB    RMB    HKD
0   201801  1.0  111.86  136.83  3.56  17.56  10.60
1   201802  1.0  108.96  134.96  3.52  17.40  10.23
2   201803  1.0  107.07  132.38  3.47  17.10  10.11
3   201804  1.0  108.44  133.57  3.52  17.39  10.28
4   201805  1.0  110.74  131.19  3.51  17.55  10.41
5   201806  1.0  111.03  129.93  3.47  17.34  10.28
6   201807  1.0  112.38  131.66  3.43  16.86  10.14
7   201808  1.0  112.08  129.80  3.44  16.52  10.12
8   201809  1.0  112.91  131.93  3.51  16.62  10.21
9   201810  1.0  113.82  131.13  3.53  16.59  10.18
10  201811  1.0  114.36  130.29  3.52  16.65  10.27
11  201812  1.0  113.51  129.42  3.52  16.63  10.23
12  201901  1.0  109.98  125.96  3.51  16.35   9.92
13  201902  1.0  111.38  126.80  3.61  16.67  10.05
14  201903  1.0  112.24  127.18  3.59  16.86  10.04
15  201904  1.0  112.73  127.07  3.59  16.94  10.01
16  201905  1.0  110.86  124.35  3.54  16.23   9.47
17  201906  1.0  109.12  123.54  3.55  15.95   9.42
18  201907  1.0  109.28  123.01  3.60  16.04   9.42
19  201908  1.0  107.32  119.78  3.54  15.33   9.00
20  201909  1.0  108.45  119.74  3.59  15.39   9.19
21  201910  1.0  109.15  120.91  3.64  15.54   9.34
22  201911  1.0  109.90  121.79  3.68  15.82   9.53
23  201912  1.0  110.24  122.76  3.70  15.88   9.51
24  202001  1.0  110.38  122.86  3.67  16.10   9.59
25  202002  1.0  110.98  121.49  3.60  16.01   9.42
26  202003  1.0  108.41  120.49  3.44  15.59   9.03
27  202004  1.0  108.96  118.88  3.39  15.55   9.03
28  202005  1.0  108.35  118.50  3.43  15.37   8.95
29  202006  1.0  108.55  122.55  3.53  15.49   9.11
30  202007  1.0  107.84  123.72  3.49  15.54   9.13
31  202008  1.0  107.05  126.92  3.48  15.61   9.15
32  202009  1.0  106.76  126.20  3.45  15.81   9.18
33  202010  1.0  106.27  125.37  3.45  15.98   9.40
34  202011  1.0  105.41  125.04  3.51  16.13   9.58
35  202012  1.0  104.84  127.70  3.53  16.21   9.70
36  202101  1.0  104.69  127.74  3.54  16.33   9.65
37  202102  1.0  106.37  128.91  3.60  16.65   9.70

In [3]:
df1 = df1_m.copy()
df2 = df2_m.copy()

df1 = df1.melt(id_vars="MONTH", var_name="RATE", value_name="RATE_VALUE")
df3 = pd.merge(df2, df1, on=["MONTH", "RATE"], how="left")
df3["PRICE_JPY"] = round(df3["PRICE"] * df3["RATE_VALUE"], 0)
df3 = df3[["PARTS","MONTH","RATE","RATE_VALUE","PRICE","PRICE_JPY"]]
df3

   PARTS   MONTH RATE  RATE_VALUE  PRICE  PRICE_JPY
0   a001  202012  JPY        1.00  20.00       20.0
1   a002  202008  HKD        9.15   3.10       28.0
2   a003  202010  RMB       15.98   0.90       14.0
3   a004  202012  THB        3.53  14.00       49.0
4   a005  202008  EUR      126.92   0.11       14.0
5   a006  202010  USD      106.27   0.23       24.0
6   a007  202012  JPY        1.00  40.00       40.0
7   a008  202008  HKD        9.15   2.00       18.0
8   a009  202010  RMB       15.98   1.10       18.0
9   a010  202012  JPY        1.00  40.00       40.0
10  a011  202008  HKD        9.15  13.00      119.0
11  a012  202010  RMB       15.98   1.10       18.0
12  a013  202012  THB        3.53  21.00       74.0
13  a014  202008  EUR      126.92   0.12       15.0
14  a015  202010  USD      106.27   0.31       33.0

In [4]:
# con.execute("truncate fuku05")
df3.to_sql("fuku05", engine, if_exists="append", index=None)

15

テーブル定義変更SQL
```mysql
alter table fuku05 
modify PARTS varchar(6), 
modify MONTH varchar(6), 
modify RATE varchar(3), 
modify RATE_VALUE double, 
modify PRICE double, 
modify PRICE_JPY double, 
add primary key (PARTS, MONTH)
```

In [5]:
df3.to_csv("enshu_04.csv", encoding='cp932', index=False) # インデックスの有無はご自由に
df3.to_excel("enshu_04.xlsx")