In [1]:
import numpy as np
import pandas as pd
import datetime
import os
import glob
import mojimoji
import shutil

# lotlist_origin作成

# Step_1~4 eqdataの読み込み・加工

## Step_1 eqdataの読み込み

In [2]:
"""
eqdataの更新時間からデータの取得時間を算出する
笹倉さんから頂いたプログラム
"""

'\neqdataの更新時間からデータの取得時間を算出する\n笹倉さんから頂いたプログラム\n'

In [3]:
def read_csv(input_dir,output_dir,st_time,ed_time):
    
    files = glob.glob(input_dir)
    print(str(len(files))+"files")
    print("step_1 is started")  
    for file,i in zip(files,range(len(files))):
        out_file = output_dir+str(str(i).zfill(5))+".csv"
        t = os.path.getmtime(file)
        d = datetime.datetime.fromtimestamp(t)
        if (np.datetime64(d)>=st_time) and (np.datetime64(d)<=ed_time):
            df = pd.read_csv(file,header=[2,3],index_col=0)
            df.insert(loc = 0, column= "file_end_time", value= str(d))
            df.columns = ["file_end_time","Time_msec","X_POS_mm","Z_POS_mm","X_TCMD_%","Z_TCMD_%","B_TCMD_%","C_TCMD_%","S_TCMD_%","S_SPEED_rpm"]
            df.insert(loc = 0, column= "file_start_time", value= str(d-(pd.to_timedelta(df["Time_msec"].astype(int).max(),"S"))/1000))
            df=df[df["S_SPEED_rpm"]>=3490.0]
            df.to_csv(out_file, header=True, index=False, encoding="cp932")
        else:
            continue
    print("step_1 is finished")

## Step_2

In [4]:
def merge_csv_files(output_dir):   
    
    print("step_2 is started")
    files = glob.glob(output_dir+"*.csv")
    dfs = []
    for file in files:
        i = pd.read_csv(file,encoding="cp932")
        dfs.append(i)
    df = pd.concat(dfs, axis=0)
    print("step_2 is finished")
    return df

## Step_3

In [5]:
def preprocess_data(df_servo):
    
    print("step_3 is started")
    df_servo["DATETIME"] = pd.to_datetime(df_servo["file_start_time"]) + pd.to_timedelta(df_servo["Time_msec"]/1000, "S")
    df_servo = df_servo.sort_values(["DATETIME"])
    
    count = 0
    uid = 0
    time_list = df_servo["DATETIME"]
    uid_list = []
    th_time = np.timedelta64(60, 's')

    for i in time_list:
        if count == 0:
            uid_list.append(uid)
            count += 1
            j = i
        else:
            if i > j + th_time:
                uid += 1
                uid_list.append(uid)
                j = i
            else:
                uid_list.append(uid)
                j = i

    df_servo["uid"] = uid_list
    
    print("step_3 is finished")

    return df_servo

## Step_4

In [6]:
def create_df_flag(df_servo):  
    
    print("step_4 is started")
    df_uid = df_servo.loc[:,["uid","DATETIME"]].drop_duplicates(subset = "uid")
    df_std = df_servo.groupby("uid").std(numeric_only=True)
    df_std.reset_index(inplace=True)
    df_etd = df_servo.groupby("uid").max()
    df_etd.reset_index(inplace=True)
    endtime = df_etd.loc[:,["uid","DATETIME"]]
    endtime = endtime.rename(columns={"DATETIME": "DATETIME_e"})
    df_std["FLAG"] = 0
    df_std.loc[df_std["B_TCMD_%"] <= 0.2, "FLAG"] = 1
    df_flag = df_uid.merge(df_std.loc[:,["uid","FLAG"]],how="inner",on="uid")
    df_flag = endtime.merge(df_flag.loc[:,["uid","DATETIME","FLAG"]],how="inner",on="uid")
    df_flag = df_flag.reindex(columns=['uid', 'DATETIME', 'DATETIME_e','FLAG'])
    df_flag = df_flag.rename(columns={'DATETIME':'DATETIME_S','DATETIME_e':'DATETIME_E'})
    print("step_4 is finished")

    return df_flag

# Step_5 ドレッシング記録の読み込み・加工

In [7]:
def flag_lots(df_flag, df_dress_path): 
    
    print("step_5 is started")
    df_dress = pd.read_excel(df_dress_path, skiprows=1)
    df_dress = df_dress.loc[:,['s1_作業指図書no','s1_数量','s1_ドレスサイクルs', 's1_ドレスサイクルe','s1_開始dt', 's1_終了dt']]
    df_dress = df_dress.dropna(subset=['s1_開始dt'])
    df_dress["s1_開始dt"] = pd.to_datetime(df_dress["s1_開始dt"])
    df_dress["s1_終了dt"] = pd.to_datetime(df_dress["s1_終了dt"], errors='ignore')
    df_flag["lotno"] = "0000000-000"

    for k in range(len(df_flag)):
        for i in range(len(df_dress)):
            fdt = np.datetime64(str(df_flag["DATETIME_S"][k]))
            sdt = np.datetime64(str(df_dress["s1_開始dt"][i]))
            edt = np.datetime64(str(df_dress["s1_終了dt"][i]))
            if (fdt >= sdt ) and (fdt <= edt ) :
                df_flag.loc[k, "lotno"] = df_dress.loc[i, "s1_作業指図書no"]
            elif (sdt > fdt ):
                break
    df_flag["lotno"] = df_flag["lotno"].apply(lambda x: mojimoji.zen_to_han(x) )
    print("step_5 is finished")
    
    return df_flag

# Step_6 focasdata読み込み・加工

In [8]:
def process_data_1(focas_dir, df_flag):
    
    print("step_6 is started")
    df_focas = pd.read_csv(focas_dir,sep="\t")
    df_focas['DATETIME'] = pd.to_datetime(df_focas['DATETIME'])
    df_flag["DATETIME_S"] = df_flag['DATETIME_S'].dt.round("s")
    df_flag["DATETIME_E"] = df_flag['DATETIME_E'].dt.round("s")
    df_focas['DATETIME_S'] = df_focas['DATETIME'].dt.round("s")
    df_focas.drop_duplicates(subset=["DATETIME"],keep='last',inplace=True)
    df_focas.pop('DATETIME')

    pu_cols = ['DATETIME_S','2:var818','2:x_axis', '2:z_axis', '2:c_axis']
    df_flag = df_flag.merge(df_focas.loc[:,pu_cols],left_on=["DATETIME_S"],right_on=["DATETIME_S"],how="inner")
    df_flag = df_flag.loc[:,["uid","FLAG","lotno","DATETIME_S","DATETIME_E",'2:var818','2:x_axis', '2:z_axis', '2:c_axis']]
    df_flag = df_flag.drop_duplicates(subset=['DATETIME_S', 'DATETIME_E'])
    print("step_6 is finished")
    
    return df_flag

# Main_File

In [9]:
if __name__ == "__main__":
    ##製品の加工時期（範囲の入っていればよいです）
    start_time = "2023-02-07"
    end_time = "2023-02-09"
    st_time = np.datetime64(str(start_time))
    ed_time = np.datetime64(str(end_time))
    
    ##inputディレクトリー
    ##eqdataのディレクトリー
    input_dir = r"C:\Users\YAMAJI\Downloads\2300002-000_ver2\2300002-000\*.csv"
    ##フォーカスデータのディレクトリー
    focas_dir = r"C:\Users\YAMAJI\Downloads\1675728784.2723718.tsv" 
    ##ドレッシング記録のディレクトリー
    dre_dir = r"C:\Users\YAMAJI\OneDrive\新入社員研修\メディカル\05_グライディングセンタ\ドレッシング記録20230216.xlsx"
    
    ##outputディレクトリー
    output_dir = r"C:\Users\YAMAJI\Desktop\output\新しいフォルダー"

    
    read_csv(input_dir, output_dir, st_time, ed_time)       #step1　eqdataの読み込み・加工
    df=merge_csv_files(output_dir)                          #step2
    df_servo1=preprocess_data(df)                           #step3
    df_flag = create_df_flag(df_servo1)                     #step4
    df1 = flag_lots(df_flag, dre_dir)                       #step5 ドレッシング記録を読み込んでdf_flagと結合
    df2 = process_data_1(focas_dir,df1)                     #step6 focasdataを読み込んでdf1と結合

280files
step_1 is started
step_1 is finished
step_2 is started
step_2 is finished
step_3 is started
step_3 is finished
step_4 is started
step_4 is finished
step_5 is started
step_5 is finished
step_6 is started
step_6 is finished

In [10]:
df2

,uid,FLAG,lotno,DATETIME_S,DATETIME_E,2:var818,2:x_axis,2:z_axis,2:c_axis
0,0,0,2300002-000,2023-02-07 10:24:57,2023-02-07 10:32:37,0.14,-219.386307,-94.583504,358.581787
1,1,0,2300002-000,2023-02-07 10:36:38,2023-02-07 10:44:14,0.18,-219.406296,-104.206596,316.500000
2,2,0,2300002-000,2023-02-07 10:50:26,2023-02-07 10:58:07,0.19,-219.411301,-99.313301,226.500000
3,3,0,2300002-000,2023-02-07 12:15:42,2023-02-07 12:23:25,0.19,-219.410797,-96.764999,22.500000
4,3,0,2300002-000,2023-02-07 12:15:42,2023-02-07 12:23:25,0.19,-219.410797,-98.151604,195.300003
...,...,...,...,...,...,...,...,...,...
59,53,0,2300002-000,2023-02-08 08:40:57,2023-02-08 08:48:34,0.20,-219.468597,-104.489403,198.899994
60,54,0,2300002-000,2023-02-08 09:11:27,2023-02-08 09:19:09,0.20,-219.468704,-96.488602,165.300003
61,55,0,2300002-000,2023-02-08 09:40:01,2023-02-08 09:47:46,0.20,-219.468796,-94.596397,335.763000
62,56,1,2300002-000,2023-02-08 09:56:56,2023-02-08 09:57:38,0.20,-219.468597,-98.690300,252.899994
63,56,1,2300002-000,2023-02-08 09:56:56,2023-02-08 09:57:38,0.20,-219.468597,-100.130302,65.699997

# CSV出力

In [13]:

# df2.to_csv(r"C:\Users\YAMAJI\Desktop\output\1\lotlist_origin.csv",index=False,encoding="cp932")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (541474172.py, line 1)