In [2]:
import pandas as pd
import sqlalchemy as sa
import pymysql
from pathlib import Path
import time

url = "mysql+pymysql://education_2023:education_2023@10.110.40.158:3306/education_2023?charset=utf8"
engine = sa.create_engine(url)
con = engine.connect()

folder = Path(r"\\10.110.40.158\data\everyone\03")
files = list(folder.glob("*.csv"))
print(files)

file = files[0]

df_m = pd.read_csv(file)
df_m

[WindowsPath('//10.110.0.44/everyone/03/a001.csv'), WindowsPath('//10.110.0.44/everyone/03/a002.csv'), WindowsPath('//10.110.0.44/everyone/03/a003.csv')]

,c1,c2,PAL_1,c4,c5,PAL_2,PAL_3,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20
0,1,1,21.00227,1,1,1.632250,0.03745,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,21.27941,1,1,1.438325,0.06244,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,20.19822,1,1,1.205270,0.01101,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,20.82138,1,1,0.802100,0.02743,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,20.27658,1,1,0.958275,0.08071,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67963,1,1,21.43459,1,1,0.945090,0.06700,1,1,1,1,1,1,1,1,1,1,1,1,1
67964,1,1,21.19863,1,1,0.789900,0.03519,1,1,1,1,1,1,1,1,1,1,1,1,1
67965,1,1,21.35847,1,1,1.510970,0.07655,1,1,1,1,1,1,1,1,1,1,1,1,1
67966,1,1,21.40388,1,1,0.803000,0.02727,1,1,1,1,1,1,1,1,1,1,1,1,1
67967,1,1,20.64918,1,1,1.829679,0.17654,1,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
df = df_m.copy()
df = df[["PAL_1", "PAL_2", "PAL_3"]]

df.insert(0, "LOTNO", file.stem)
df.insert(1, "SNO", df.index + 1)
df.insert(5, "UDATE", time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(file.stat().st_mtime)))

df = pd.melt(df, id_vars=["LOTNO", "SNO", "UDATE"], var_name="測定項目", value_name="測定値")
df

In [ ]:
# 【別解】
df = df_m.copy()
df = df[["PAL_1", "PAL_2", "PAL_3"]]

df["LOTNO"] = file.stem
df["SNO"] = df.index + 1

# 分かりやすいように、update_timeという変数を作っています
update_time = time.localtime(file.stat().st_mtime)
df["UDATE"] = time.strftime("%Y-%m-%d %H:%M:%S", update_time)

# 実はカラムを並べ替えなくても、meltすると自動的にid_varsが前の方に来るので、並べ替えなくても良かったりする
df = pd.melt(df, id_vars=["LOTNO", "SNO", "UDATE"], var_name="測定項目", value_name="測定値")
df

In [ ]:
table = "fuku_kenshu02"
df.to_sql(table, engine, if_exists="replace", index=None)

```mysql
ALTER TABLE kenshu.fuku_kenshu02
modify LOTNO varchar (4), 
modify SNO int (11), 
modify UDATE datetime, 
modify 測定項目 varchar (5), 
modify 測定値 double, 
add primary key(LOTNO, SNO, 測定項目)
```

In [ ]:
con.execute(f"truncate {table}")

In [ ]:
folder = Path(r"\\10.110.0.44\everyone\03")
files = list(folder.glob("*.csv"))

for file in files:
    print(file)
    df = pd.read_csv(file)
    df = df[["PAL_1", "PAL_2", "PAL_3"]]

    df.insert(0, "LOTNO", file.stem)
    df.insert(1, "SNO", df.index + 1)
    df.insert(5, "UDATE", time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(file.stat().st_mtime)))

    df = pd.melt(df, id_vars=["LOTNO", "SNO", "UDATE"], var_name="測定項目", value_name="測定値")
    display(df)
    df.to_sql(table, engine, if_exists="append", index=None)